<head>
    <link
        href={{ url_for('static', filename='style.css')}}
        rel='stylesheet'
    >

</head>


<h1>PEPEGA APP</h1>


{% if error == 'passwords_dont_match' %}
<p>Sorry, seems like passwords you entered don't match. Try again</p>
{% elif error == 'account_already_exists' %}
<p>Sorry, seems like this account already exists. Try again</p>
{% endif %}


<form method="POST">
<div style='color:white'>
    <label>Name</label>
    <input minlength="5" maxlength="20" name="name" placeholder="Придумайте никнейм" required>
    <br>
    <label>Email</label>
    <input type="email" maxlength="30" name="email" placeholder="Введите действующую почту" required>
    <br>
    <label>Password</label>
    <input type="password" minlength="6" maxlength="20" name="password" placeholder="Создайте пароль" required>
    <br>
    <label>Password</label>
    <input type="password" minlength="6" maxlength="20" name="password_check" placeholder="Повторите пароль" required>
    <br>
    <input type="submit" value="Send!">
    <a href="/login">Already have Account</a>
</div>
</form>